{% extends 'guest_layout.html' %}
    {% block body %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
                <h6>{{ messages[0] }}</h6>
        {% endif %}
        {% endwith %}
        <table>
            <form action="login" method="post">
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email" id="email"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="text" name="password" id="password"></td>
                </tr>
                <tr>
                    <td>Remember Me</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td colspan='2'>
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </form>
        </table>   
    {% endblock %}